/* Общие стили */
/* Общие стили */
.body {
    background-color: #4f8dffd2;
}
.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #4f8dffd2;

  }
  .logo {
    max-height: 150px;
  }
  
  .left-section, .right-side {
    padding: 20px;
  }
  
  .buttons a {
    display: block;
    margin-bottom: 10px;
  }
  .left-section {
    background-color: #333333;
  }
  .right-side {
    background-color: #7ad2e6;
  }
  /* Стили для десктопной версии */
  @media (min-width: 768px) {
    .left-section {
      width: 50%;
    }
  
    .right-side {
      width: 50%;
    }
  }
  
  /* Стили для мобильной версии */
  @media (max-width: 767px) {
    .container {
      flex-direction: column;
    }
  
    .left-section {
      width: 100%;
    }
  
    .right-side {
      width: 100%;
    }
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: rgba(65, 55, 207, 0.856);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
   /* align-items: center; */
    padding: 10px 10px;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
  }
  
  /* Левая сторона */
  
  .left-section {
    flex-basis: 35%;
    padding-right: 20px;
   
  }
  
  .left-section h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
    color: rgb(255, 240, 37);
  }
  
  .left-section button {
    display: block;
    width: 100%;
   /* max-width: 300px; */
    height: 52px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    background-color: #69CCE3;
    color: #fff;
    cursor: pointer;
  }
  
  .left-section button:hover {
    background-color: #53b4d4;
  }
  
  .qr-code {
  /*  display: block; */
    margin: 20px 0;
    max-height: 180px;
  }
  
  .report-button {
    display: block;
    width: 100%;
    max-width: 300px; 
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    background-color: #69CCE3;
    color: #fff;
    cursor: pointer;
  }
  
  .report-button:hover {
    background-color: #53b4d4;
  }
  
  /* Правая сторона */
  
  .right-side {
    flex-basis: 65%;
    padding-left: 20px;
    justify-content: center;
  }
  
  .right-side p {
    margin-bottom: 20px;
    color: #000000;
  }
  
  .right-side h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
  }
  
  .right-side tr {
    margin-bottom: 20px;
    list-style: none;
    color:#000000;
  }
  
  .right-side td {
    margin-bottom: 10px;
  }
  
  .right-side td span {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    color:#000000(0, 0, 0);
  }
  
  .right-side td a {
    color: #000000(0, 0, 0);
  }
  
  /* Медиа-запросы */
  
  @media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
      padding: 20px;
    }
  
    .left-side {
      flex-basis: 100%;
      padding-right: 0;
    }
  
    .right-side {
      flex-basis: 100%;
      padding-left: 15px;
      margin-top: 20px;
      overflow-x: auto;
      max-width: 100%;
    }
  
    .right-side table {
      width: 100%;
      table-layout: fixed; /* Фиксированная ширина ячеек */
    border-collapse: collapse; /* Объединение границ ячеек */
    font-size: 10px;
    
    }
    .right-side table td,
  .right-side table th {
    word-wrap: break-word; /* Перенос текста на новую строку */
  }
  }
  table {
    border-collapse: collapse;
    margin: auto;
  }
  
  th, td {
    border: 1px solid #0000007d;
    padding: 3px;
  }
  .contact-icons {
    text-align: right;
  }
  
  .contact-icons a {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    font-size: 20px;
    text-decoration: none;
  }
  
  .contact-icons a i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .contact-icons a i.fa-instagram {
    background-color: #e4405f;
    color: #fff;
  }
  
  .contact-icons a i.fa-facebook {
    background-color: #3b5998;
    color: #fff;
  }
  .contact-icons a img {
    max-height: 25px;
    padding-right: 30px;
    position: inherit;
  }
  